@using ShoppingPortal.Core.Constants
@using ShoppingPortal.Web.Models
@using ShoppingPortal.Core.DTOs
@model ProductListViewModel
@{
    ViewData["Title"] = "Product Catalog";
}

<div class="container">
    <h1>Our Products</h1>

    <div id="product-container" class="row">
        @foreach (var product in Model.Products)
        {
            <partial name="_ProductCards" model="product" />
        }
    </div>

    @if (Model.PagingInfo.TotalPages > 1)
    {
        <div class="text-center mt-3">
            <button id="load-more" class="btn btn-primary"
                    data-current-page="1"
                    data-total-pages="@Model.PagingInfo.TotalPages">
                Load More
            </button>
        </div>
    }
</div>
@section Scripts {
    <script src="~/js/product.js"></script>
}